* {
    box-sizing: border-box
}

#app-container{
  font-family: "Helvetica Neue", "Helvetica", "sans-serif";
}
.header{
  background-color: black;
}
.header img{
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin: 0 auto;
  top: 0; left: 0;
  color: gray;
}

.logo {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin: 0 auto;
  top: 0; left: 0;
}
.logo2 {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  margin: 0 auto;
  top: 0; left: 0;
}
.home,
.about,
.navhistory{
  background-color: pink;
}
.navbar{
  display: inline-block;
  padding: 5px;
}

.navbar span{
  color: blue;
}

.navi{
  background-color: lightgray;
}

.title{
  border-bottom: 2px gray solid;
  line-height: 1.50;
  display: inline-block;
}

.MFAH{
  font-size: 30px;
  line-height: 1.50;
}
.article-container{
  display: inline-block;
  width: 75%;
}
.desc strong{
  font-size: 30px;
}

.desc span{
  color: blue;
}

.desc{
  line-height: 1.25;
  display: inline-block;
  margin: 4px;
}

.description{
  display: inline-block;
  vertical-align: top;
  border-bottom: 2px gray solid;
  width: 90%;
  left: 0;
}
.events{
  display: inline-block;
  width: 24%;
}
.event{
}
.event-img{
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
.event-content{
  display: inline-block;
  vertical-align: top;
  width: 40%;
  font-size: 8.7px;
  margin: 0;
}

.column-container{
  display: inline-block;
  vertical-align: top;
}

.history{
  display: inline-block;
  border-bottom: 2px gray solid;
}
.campus-column-container{
  border-bottom: 2px gray solid;
}

.future{
  display: inline-block;
  vertical-align: top;
  width: 30%;
}
.campus {
  display: inline-block;
  vertical-align: top;
  width:60%;
  padding-top: 100px;
  padding-left: 60px;
}
.school-column-container{
  border-bottom: 2px gray solid;
}
.school{
  display: inline-block;
  vertical-align: top;
  width: 20%;
}

.architect{
  display: inline-block;
  vertical-align: top;
  width:50%;
  padding-left: 200px;
}

.footer{
  display: inline-block;
  padding: 5px;
}

.list{
  display: inline-block;
  padding: 5px;
  font-size: 12px;
}
